body.page-gadget {
    padding-top: 0;
}

.aui-page-panel {
    max-width: 1012px;
    margin-left: 0 !important;
}

.panel {
    background-color: #fff;
    border: 1px solid #d1d5da;
    border-radius: 3px;
    margin-top: 0;
}

.panelHeader {
    background-color: #f6f8fa;
    padding: 8px 16px;
}

div.panel.pdl {
    border: none;
}

.syntaxhighlighter.sh-confluence {
    background-color: #f6f8fa !important;
}

h1 {
    font-size: 2em;
    margin: .67em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;
}

h1 {
    font-size: 2em;
}

h1,
h2 {
    border-bottom: 1px solid red;
    padding-bottom: .3em;
    border-bottom: 1px solid #eaecef;
}

blockquote,
details,
dl,
ol,
p,
pre,
table,
ul {
    margin-top: 0 !important;
    margin-bottom: 16px !important;
}
